body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

.primaryBtn {
 
  background-color: #52c8c4;
  border: none;
 
  overflow-wrap: break-word;
}

.secondaryBtn {
  width: 167px;
  height: 45px;
  background-color: #6990ff;
  border: none;
}

.secondaryBtn:hover{
    background-color: #0d6efd;
}

.normalText {
  color: #6b6b6b;
}

nav img {
  width: 123px;
  height: 45px;
  margin-left: 50px;
}

.btn1 {
  background-color: #6990ff;
}

#navbarSupportedContent {
  margin-left: 70px;
}

#navbarSupportedContent li {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 10px 0px;
}

.box12 {
  display: flex;
}

.left {
  width: 45%;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.right {
  width: 55%;
  background-color: #e9d8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.right img {
  width: 96%;
  height: 96%;
}

@media screen and (max-width: 1200px) {
  .box12 {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .right {
    width: 55%;
    background-color: #e9d8e8;
    border-radius: 50%;
    margin-left: 20%;
  }

  .homeHeading {
    font-size: 64px;
    font-weight: 700;
  }
}


.home {
  background-image: url("images/hero_bg.svg");
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home .homeSubHeading {
  color: #47c4c0;
}
.homeHeading {
  font-size: 80px;
  font-weight: 700;
}
/* 
.box {
  background-image: url("images/hero_img_bg.png");
  background-color: rgb(243, 224, 245); 
  width: 87%;
  height: 100%;
  padding-left: 5px;
  border-radius: 50%;
} */

.homeContent {
  
  background-image: url("images/feature_bg.svg");
  background-position: center;
  background-size: cover;
}


.homeContent img {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 15px;
  background-color: #6990ff;
  overflow: visible;
}

.inventoryNumber{
 
    font-weight: 600;
    font-size: 60px;
    line-height: 1em;
    color: transparent;
    -webkit-text-stroke: 1px #52C8C4;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.inventoryNumber:hover{
  opacity: 0.6;
}

.aboutHead {
  margin-top: 150px;
}

.homeSubHeading {
  color: #47c4c0;
}

#aboutSection{
  background: linear-gradient(257.51deg, #F2FCFE 44.07%, #FAF1FE 100%);
}

.aboutContent {
  
  background-color: #6990ff;
  color: white;
  padding: 25px;
  border-radius: 10px;
}
.endBorder {
  border-right: 1px solid rgba(255, 255, 255, 0.2);

}
@media screen and (max-width: 1200px) {
  .endBorder {
    border: none;
  }
}

.aboutImage {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: white;
  margin: 22px 15px 0px 0px;
  padding: 10px;
}

.aboutContent img {
  width: 42px;
  height: 42px;
  
  margin-top: 2px;
  margin-left: 5px;
}
.content {
  font-size: 18px;
  margin-top: -25px;
}

.head {
  font-size: 45px;
  margin-top: 10px;
}

.features {
  background-image: url('images/feature_bg.svg');
}

.featuresImage {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  padding: 10px;
  margin: 30px 30px 25px 30px;
  background-color: #6990ff;
}
.featuresText {
  margin-top: 25px;
  margin-bottom: 15px;
}

.featuresContent {
  background: linear-gradient(257.51deg, #F2FCFE 44.07%, #FAF1FE 100%);
}

.featuresContent-retailImages img {
  width: 69px;
  height: 52px;
}

.featuresContent-retailImages p {
  margin: 10px 0 0 15px;
}

.featuresContentBox {
  padding-left: 140px;
}

.pricing-section {
  background-image: url("images/feature_bg.svg");
}

.pricingBox1 img {
  width: 44px;
  height: 52px;
}

.pricingHeading {
  margin: 35px 0px 0 40px;
  font-size: 20px;
}
.pricingBox1-heading {
  font-size: 60px;
  font-family: sans-serif;
  color: #6990ff;
  font-weight: bold;
}

.pricingBox1-subHeading {
  font-family: sans-serif;
  color: #6b6b6b;
}
.pricingBox1-subHeading2 {
  margin-top: -7px;
}
.pricingBox1-content img {
  width: 16px;
  height: 16px;
}
.card1:hover {
  box-shadow: 0 0 20px 1px rgb(146, 138, 138);
}

.card2:hover {
  box-shadow: 0 0 20px 1px rgb(146, 138, 138);
}

.card3:hover {
  box-shadow: 0 0 20px 1px rgb(146, 138, 138);
}

.pricingBox2 {
  margin-top: 150px;
}

.pricingBox2 img {
  width: 100px;
  height: 100px;
  margin-left: 16px;
  border-radius: 0%;
}
.pricingBox2-card-text {
  margin: 20px 0 0 25px;
}

.carousel-indicators button {
  background-color: grey !important;
  /*more custom style*/
}

.carousel-indicators .active {
  background-color: #52c8c4 !important;
}

#slider {
  height: 350px;
  overflow: hidden;
  width: 100%;
}
.carousel-indicators button {
  width: 10px;
  height: 10px;
}
.carousel-indicators {
  bottom: -70px;
}

.pricingBox3 {
  /* margin-top: 200px; */
  background-image: url("assets/img/feature_bg.svg");
}

.pricingBox3-myCardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  background-color: #6990ff;
  padding: 35px 0px;
}

.pricingBox3-myCardImage img {
  width: 69px;
  height: 81px;
  margin-left: 0px;
}

@media all and (max-width: 1200px) {
  .pricingBox3Card6 {
    display: none;
  }

  .pricingBox3Card5 {
    display: none;
  }
}

@media all and (max-width: 992px) {
  .pricingBox3Card4 {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .pricingBox3Card3 {
    display: none;
  }
}

.pricingBox3Height-100 {
  height: 100px;
}

@media all and (max-width: 1999px) {
  .pricingBox3Height-100 {
    height: 70px;
  }
}

.pricingBox4Height-95 {
  height: 95px;
}
@media all and (max-width: 1999px) {
  .pricingBox4Height-95 {
    height: 70px;
  }
}
.pricingBox3Height-70 {
  padding-top: 70px;
}

.pricingBox4 {
  background: linear-gradient(257.51deg, #f2fcfe 44.07%, #faf1fe 100%);
}
@media all and (min-width: 1200px) {
  .pricingBox4Margin {
    height: 70px;
  }
}

@media all and (max-width: 1200px) {
  .faqImg {
    width: 366px;
    height: 366px;
  }
}

.accordion-button:not(.collapsed)::after {
  background-image: url("https://lh3.googleusercontent.com/uNu-9rtn3yJ5qUl6nE7t9Rf0RD5PwCDi7_7qeWdgOzQeD_z1a9QNX7qFI83oRpUAfUwpUM8v7STV7gAdGlSo1eu6=w128-h128-e365-rj-sc0x00ffffff");
}
.accordion-button::after {
  background-image: url("https://lh3.googleusercontent.com/uNu-9rtn3yJ5qUl6nE7t9Rf0RD5PwCDi7_7qeWdgOzQeD_z1a9QNX7qFI83oRpUAfUwpUM8v7STV7gAdGlSo1eu6=w128-h128-e365-rj-sc0x00ffffff");
}

.myAccordion {
  border: none;
}

.qsHeading {
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #6990ff;
  margin-right: 5px;
}

.qsContent {
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 1200px) {
  .pricingBox4-100 {
    height: 100px;
  }
}

@media screen and (max-width: 1199px) {
  .pricingBox4-100 {
    height: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .newsMargin-70 {
    height: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .newsMargin-70 {
    height: 70px;
  }
}

.newsHeight-40 {
  height: 50px;
}

@media screen and (max-width: 1199px) {
  .newsHeight-40 {
    height: 40px;
  }
}
.admin {
  margin-left: 8px;
}
.adminText {
  color: #6b6b6b;
  margin: 0px 30px 0 10px;
}
.dateText {
  color: #6b6b6b;
  padding-left: 8px;
}

.readMoreButton {
  color: #6b91ff;
  cursor: pointer;
}
.readMoreButton svg {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 1199px) {
  .newsCard4 {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .newsCard3 {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .newsCard2 {
    display: none;
  }
}

.news {
  padding-bottom: 150px;
  background-image: url("images/feature_bg.svg");
}

.contact img {
  width: 35px;
  height: 35px;
  margin-left: 20px;
}

.contact p {
  margin-left: 20px;
  margin-top: -5px;
}

.footerMarginTop-75 {
  height: 75px;
}

@media screen and (max-width: 1200px) {
  .footerMarginTop-75 {
    height: 70px;
  }
}
.footerDiv2 p {
  margin-top: -6px;
}

.footerButton {
  background-color: #6990ff;
  margin-top: 10px;
}

.footerMargin-40 {
  height: 40px;
}

@media screen and (max-width: 1200px) {
  .footerMargin-40 {
    height: 30px;
  }
}

.footer {
  height: 50px;
}

.footer p {
  color: #d9d9d9;
}

.myBorder {
  border-bottom: 1px solid #d9d9d9;
}


.inventoryCard {
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .inventoryCard {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
  }
}
.aboutContentMargin {
  height: 48px;
}

@media screen and (max-width: 1200px) {
  .aboutContentDivs {
    width: 390px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: red;
  }
  .aboutImage {
    display: flex;
    justify-content: flex-start;
  }

  .aboutContentMargin {
    height: 0px;
    margin: 0;
    padding: 0;
  }
}


@media screen and (max-width: 992px)
{
    .customerHideCol2{
        display: none;
    }
    .customerHideCol1{
        width: 50%;
        height: 100%;
    
    }

    .customerShowCol{
        width: 50%;
        height: 100%;

    }
}

@media screen and (max-width: 768px){
    .customerHideCol1{
        display: none;
      }

    .customerShowCol{
        width: 100%;
        height: 100%;
        margin-left: 5%;
    }
}


.anchor_offset::before {
    display: block;
    content: ' ';
    visibility: hidden;
  }

  nav{
    max-width: 1600px;
    min-width: 340px;
    margin: 0 auto;
  }

  .svgImg{
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border:1px solid #6990FF;
    position: absolute;
    border-radius: 50%;
   right: 0;
   bottom: 0;
  }

  .svgImg svg{
    width : 19px;
    height: 15px;
    margin: 8px 7px;
    color: #6990FF;
  }

  .card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover, .card6:hover, .card7:hover, .card8:hover, .card9:hover{
    cursor: pointer;
    
  }
  .card1:hover .svgImg, .card2:hover .svgImg, .card3:hover .svgImg, .card4:hover .svgImg, .card5:hover .svgImg, .card6:hover .svgImg, .card7:hover .svgImg, .card8:hover .svgImg, .card9:hover .svgImg{
    color: white !important;
    background-color: #6990FF;
    
  }
  .card1:hover .svgImg svg, .card2:hover .svgImg svg, .card3:hover .svgImg svg, .card4:hover .svgImg svg, .card5:hover .svgImg svg, .card6:hover .svgImg svg, .card7:hover .svgImg svg, .card8:hover .svgImg svg, .card9:hover .svgImg svg{
    color: white !important;
   
  }


  .featureBox1, .featureBox2, .featureBox3, .featureBox4, .featureBox5, .featureBox6{
    box-shadow: 0px 10px 50px rgb(28 37 40 / 7%);
    border-radius: 10px;
    background-color: #fff;
    padding: 40px 30px 37px 30px;
  }

  .featuresPadding{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .marginHeight95-70{
    height: 95px;
  }

  .marginHeight75-45{
    height: 75px;
  }

  .marginHeight50-40{
    height: 50px;
  }

  .marginHeight25-0{
    height: 25px;
  }
.marginHeight25{
  height: 25px;
}

.marginHeight100-70{
  height: 100px;
}

.marginHeight75-45{
  height: 75px;
}
.marginHeight75-70{
  height: 75px;
}

  @media screen and (max-width: 1200px){
    .marginHeight95-70{
      height: 70px;
    }

    .marginHeight75-45{
      height: 45px;
    }

    .marginHeight50-40{
      height: 40px;
    }
    .marginHeight25-0{
      height: 0px;
    }
    .marginHeight100-70{
      height: 70px;
    }   
    .marginHeight75-45{
      height: 45px;
    }
    .marginHeight75-70{
      height: 70px;
    }
  }

@media screen and (min-width: 1199px) {

  .box12{
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
}

@media screen and (max-width: 550px) {

nav img {
  width: 58px;
  height: 45px;
  padding-left: 0px;
  margin-left: 0px;
}
  
}

.phoneNo{
  margin-left: 32px;
  padding-left: 30px;
}